# Database Settings
DATABASE_URI="postgresql+psycopg://postgres:password@localhost:5432/reminder"

# to get a string like this run:
# openssl rand -hex 32
SECRET_KET=""

ALLOW_ORIGINS=[
    "http://localhost",
    "https://localhost",
    "http://localhost:8080"
]